{include file='header' /}
    <main>

        {include file='banner' /}
        <section class="about">
            <header>
                <div class="container">
                    <div class="menu_card">
                        <img src="__GX__\asset\images\icon_right.png" class="img-responsive pull-right">
                        <h1>{$pagenavs[$base_id]['name']}</h1>
                        <div class="line"></div>
                        <p>{$pagenavs[$base_id]['alias']}</p>
                    </div>
                    <ul class="menu">
                        {volist name='secondnav' id='v'}
                        <li {eq name="cate_id" value="$v['id']" }class="active"{/eq} ><a href="{:url('about',['cid'=>$v['id']])}">{$v['name']}</a></li>
                        {/volist}
                    </ul>
                </div>
            </header>
            <div class="about_body">
                <div class="container">
                    <ol class="breadcrumb">
                        {include file='catpos' /}
                    </ol>
                    <div class="about_content">
                        {$info.content}
                    </div>
                </div>
            </div>
        </section>
    </main>
{include file='footer' /}
