{include file='header' /} 
    <main>
        <img src="/{$pagenavs['thumb']}" alt="" class="img-responsive" width="100%">
        <section class="news_detail">
            <header>
                <div class="container">
                    <div class="menu_card">
                       <img src="__GX__\asset\images\icon_right.png" class="img-responsive pull-right">
                        <h1>{$categorynavs[$base_id]['name']}</h1>
                        <div class="line"></div>
                        <p>{$categorynavs[$base_id]['alias']}</p>
                    </div>
                    <ul class="menu">
                        <li><a href="{:url('/cases')}">{$categorynavs[$base_id]['name']}</a></li>
                    </ul>
                </div>
            </header>
            <div class="news_detail_body">
                <div class="container">
                    <ol class="breadcrumb">
                        {include file='catpos' /}
                    </ol>
                    <article class="news_detail_content">
                        <header>
                            <h2>{$info['title']}</h2>
                            <img src="__GX__\asset\images\icon_time.jpg"><time> 发布时间：{$info['create_time']|date="Y-m-d",###}</time>
                            <img src="__GX__\asset\images\icon_author.jpg"><span> 发布人：{$info.author}</span>
                        </header>
                        <div class="news_detail_text">
                           {$info.content}
                        </div>
                        <footer>
                            <nav>
                                <ul class="pager">
                                    <li class="previous"><a href="{notempty name='prev_article'}{:url('/casesshow',['id'=>$prev_article['id']])}{else}###{/notempty}"><span aria-hidden="true">&lt;</span>&nbsp;&nbsp;上一篇</a></li>
                                    <li class="text-center"><a href="{:url('/cases')}"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                                    <li class="next"><a href="{notempty name='next_article'}{:url('/casesshow',['id'=>$next_article['id']])}{else}###{/notempty}">下一篇&nbsp;&nbsp;<span aria-hidden="true">&gt;</span></a></li>
                                </ul>
                            </nav>
                        </footer>
                    </article>
                </div>
            </div>
        </section>
    </main>
  {include file='footer' /} 
