{include file='header' /}
    <main>
        {include file='banner' /}
        <section class="contact">
            <header>
                <div class="container">
                    <div class="menu_card">
                        <img src="__GX__\asset\images\icon_right.png" class="img-responsive pull-right">
                        <h1>{$pagenavs[$base_id]['name']}</h1>
                        <div class="line"></div>
                        <p>{$pagenavs[$base_id]['alias']}</p>
                    </div>
                    <ul class="menu">
                        {volist name='secondnav' id='v'}
                        <li {eq name="cate_id" value="$v['id']" }class="active"{/eq} ><a href="{:url('/contact',['cid'=>$v['id']])}">{$v['name']}</a></li>
                        {/volist}
                    </ul>
                </div>
            </header>
            <div class="contact_body">
                <div class="container">
                    <ol class="breadcrumb">
                        {include file='catpos' /}
                    </ol>
                    <div class="contact_content">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact_media">
                                    <div class="contact_media_left">
                                        <img class="media-object" src="__GX__\asset\images\w80h80.png" class="img-responsive" style="background: url('__GX__/asset/images/icon_contact1.png') no-repeat center center / 100% 100%;">
                                    </div>
                                    <div class="contact_media_right">
                                        <h4 class="media-heading">公司地址</h4>
                                        <p>{$webset['site_address']}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="contact_media">
                                    <div class="contact_media_left">
                                        <img class="media-object" src="__GX__\asset\images\w80h80.png" class="img-responsive" style="background: url('__GX__/asset/images/icon_contact2.png') no-repeat center center / 100% 100%;">
                                    </div>
                                    <div class="contact_media_right">
                                        <h4 class="media-heading">联系方式</h4>
                                        <p>{$webset['site_tel']}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="contact_media">
                                    <div class="contact_media_left">
                                        <img class="media-object" src="__GX__\asset\images\w80h80.png" class="img-responsive" style="background: url('__GX__/asset/images/icon_contact3.png') no-repeat center center / 100% 100%;">
                                    </div>
                                    <div class="contact_media_right">
                                        <h4 class="media-heading">邮箱传真</h4>
                                        <p>E-mail：{$webset['site_email']}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="map"></div>

                        <section class="liuyan">
                            <h2>留言</h2>
                            <div>
                                <div class="form1">
                                    <label>姓名：<input type="text" id='username'></label>
                                    <label>电话号码：<input type="text" id='telephone'></label>
                                </div>
                                <div class="form2">
                                    <label>留言：<textarea name="" id="message" cols="30" rows="10"></textarea></label>
                                </div>
                                <label style="visibility: hidden;font-size: 18px;">提交：</label>
                                <input type="submit" value="提&nbsp;&nbsp;交" id='send'>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </main>
 {include file='footer' /}   
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mDhl4wxelUrRTzyoX0n3jzir"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
        addMapControl(); //向地图添加控件
        addMapOverlay(); //向地图添加覆盖物
    }

    function createMap() {
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(113.962676, 22.542925), 15);
    }

    function setMapEvent() {
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }

    function addClickHandler(target, window) {
        target.addEventListener("click", function() {
            target.openInfoWindow(window);
        });
    }

    function addMapOverlay() {
        var markers = [{
            content: "",
            title: "",
            imageOffset: {
                width: -46,
                height: -21
            },
            position: {
                lat: 22.542925,
                lng: 113.962676
            }
        }];
        for (var index = 0; index < markers.length; index++) {
            var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
            var marker = new BMap.Marker(point, {
                icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(20, 25), {
                    imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
                })
            });
            var label = new BMap.Label(markers[index].title, {
                offset: new BMap.Size(25, 5)
            });
            var opts = {
                width: 200,
                title: markers[index].title,
                enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
            marker.setLabel(label);
            addClickHandler(marker, infoWindow);
            map.addOverlay(marker);
        };
    }
    //向地图添加控件
    function addMapControl() {
        var scaleControl = new BMap.ScaleControl({
            anchor: BMAP_ANCHOR_BOTTOM_LEFT
        });
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({
            anchor: BMAP_ANCHOR_TOP_LEFT,
            type: BMAP_NAVIGATION_CONTROL_LARGE
        });
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({
            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
            isOpen: true
        });
        map.addControl(overviewControl);
    }
    var map;
    initMap();
</script>

<script>
    $(function(){
        $("#send").click(function(){
            var username = $("#username").val();
            var telephone = $("#telephone").val();
            
            var message = $("#message").val();
            var error = '';
            if(username == ''){
                error = "请输入您的姓名！";
                alert(error);
                $("#username").focus();
                return false;
            }
            if(telephone == ''){
                error = "请输入您的联系方式！";
                alert(error);
                $("#telephone").focus();
                return false;
            }
            //alert(company);
            var url="{:url('Home/Index/insert')}";
            var info = username + "###" + telephone  +"###"+message;
            $.post(url,{info:info},function(data){
                var str=data.info;
                alert(str);
                window.location.reload() 
    
            },'json');
        });
    });
</script>
